/* General */
:root{
  --main: white;
  --contrast: black;
  --hover: rgb(156, 234, 189);
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.logo{
  margin: 0;
  font-family: "Lora", serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: lighter;
  text-decoration: none;
}

ol, ul, menu, a{
  list-style: none;
}

p{
  margin: 0;
}

/* img{
  display: block;
  width: 100%;
  max-width: 100%;
} */

.container{
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--contrast);
}

.section_left{
  width: 12%;
}

.section_right{
  width: 88%;
  padding-left: 35px;
  border-left: 5px solid var(--contrast);
}

.section_title{
  font-size: 30px;
  text-align: right;
  padding-right: 1rem;
}
/* General End  */

/* Header Start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--main);
  height: 100px;
}

.logo{
  font-size: 40px;
  margin: 35px;
  animation: fadeInRight 1.2s ease-in-out;
}

.navbar_links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_links li{
  margin-right: 50px;
  list-style: none;
  cursor: pointer;
}

.navbar_links li a{
  font-size: 20px;
  text-decoration: none;
  color: var(--contrast);
  border-bottom: var(--contrast) 2px solid;
}

.navbar_links li a:hover{
  background-color: var(--hover);
  border-bottom: var(--main) 2px solid;
  color: var(--contrast);
  transition: 0.4s;
  cursor: pointer;
}

.navbar_links li:active{
    opacity: 0.3;
  }
/* Header End  */

/* Hero Start */
.hero{
  background-image: url('../images/hero_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main);
}

.hero_content{
  max-width: 640px; 
}

.hero_content_h1{
  font-size: 100px;
  font-weight: 700;
  padding-bottom: 10px;
}

.hero_content_h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 15px;
  color: var(--contrast);
}
/* Hero End  */

/* About Start*/
.about_title{
  max-width: 200px;
}

.about_me:not(:last-child){
  padding-bottom: 10px;
}
/* About End */

/* Work Start */
.work_items{
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 240px 240px 240px 240px;
  gap: 20px;
}

.work_item{
  position: relative;
  display: flex;
  align-items: flex-end;
  grid-column: span 1; 
  grid-row: span 1;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.work_content{
  padding: 15px 15px 15px 25px;
  width: 100%;
  max-width: 320px;
  background-color: var(--contrast);
  color: var(--main);
}

.work_item_title{
  font-size: 30px;
  padding-bottom: 5px;
}

.work_link{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0%);
  transition: background .5s ease;
  z-index: 2;
}

.work_link:hover{
  background: rgba(0, 0, 0, 50%);
}

.work_item:first-child{
  grid-column: span 2; 
  grid-row: span 2;
  background-image: url("../images/Horiseon.jpg");
}

.work_item.preworkstudy{
  background-image: url("../images/prework_guide.jpg");
}

.work_item.placeholder1{
  background-image: url("#");
}

.work_item.placeholder2{
  background-image: url("#");
}

.work_item.placeholder3{
  background-image: url("#");
}
/* Work End  */

/* Footer Start */
footer{
  margin-bottom: 20px;
}

.contact_items{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.contact_item_link{
  font-size: 25px;
  line-height: 15px;
  color: var(--contrast);
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.contact_item_link:hover{
  border-bottom: 2px solid var(--contrast);
  background-color: var(--hover);
  transition: border-bottom .5s ease-in-out;
}

.contact_item_link:active {
  opacity: 0.3;
}
/* Footer End */

/* Media Start*/
@media (max-width: 960px){
  .section_left{
    width: 100%;
    padding-right: 0;
  }

  .section_right{
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
    border-left: none;
    border-top: 2px solid var(--contrast);
  }

  .section_title{
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 10px;
    text-align: left;
  }

  .contact_items{
    justify-content: center;
  }
  .contact_items{
    padding-left: 0;
  }

  .work_items{
    grid-template-rows: 240px 240px 240px 240px 240px 240px;
  }

  .work_item:not(:first-child){
    grid-column: span 2; 
  }

  .work_content{
    max-width: 80%;
  }
}

@media (max-width:540px){
  .nav{
    justify-content: center;
    gap: 10px;
  }

  .hero{
    margin-top: -20px;
  }

  .section{
    padding-top: 25px;
  }

  .hero_content_h1{
    font-size: 25px;
  }

  .hero_content_h2{
    font-size: 15px;
  }

  .work_content{
    max-width: 100%;
  }

  .work_item_title{
    font-size: 15px;
  }

  .contact_items{
    flex-direction: column;
  }
}
/* Media End  */

/* Animation Start */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
/* Animation End */