/* Color scheme variables */
:root {
  --main: white;
  --contrast: black;
  --hover: rgb(255, 200, 99);
}

* {
  box-sizing: border-box;
}

/* Body styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 1;
}

/* Heading Styling */
h1,
h2,
h3,
h4,
h5,
h6,
a,
.logo-title,
.profile-banner {
  font-family: "Lora", serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

p {
  margin: 10;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--main);
  height: 100px;
}

.logo-title {
  font-size: 40px;
  margin: 35px;
  animation: fadeInRight 1.2s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

/* Navbar links styling */
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 30px;
  list-style: none;
  cursor: pointer;
}

.navbar-links li a {
  font-size: 20px;
  text-decoration: none;
  color: var(--contrast);
  border-bottom: var(--contrast) 0.125em solid;
}

.navbar-links li a:hover {
  background-color: var(--hover);
  border-bottom: var(--hover) 0.125em solid;
  color: var(--contrast);
  transition: 0.4s;
  cursor: pointer;
}

.navbar-links li:active {
    opacity: 0.3;
  }

/* Banner Styling */
.profile-banner {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.profile-banner img {
  height: 100%;
  width: 330px;
  display: flex;
  margin-right: 700px;
  align-items: center;
  animation: fadeInLeft 1s ease-in-out;
}

  @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

.profile-banner h1 {
  font-size: 30px;
  display: flex;
  margin-right: 100px;
  color: var(--contrast);
  align-items: center;
}

span {
   color: var(--hover);
}

/* MAIN - ABOUT/WORK SECTION */
/* Grid styling */
main {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 150vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 17% 83%;
  grid-template-areas:
    "about about-info"
    "work  work-info"
    "contact  contact-info";
  padding: 10px;
}

/* Main header2 styling */
main h2 {
  font-size: 38px;
  color: var(--contrast);
  width: 150px;
  height: 120px;
}

main a {
  color: var(--contrast);
}

/* Initialising grid sections elements */
#about {
  grid-area: about;
}
#about-info {
  grid-area: about-info;
  padding: 10px;
  font-size: 22px;
}
#about,
#work,
#contact {
  border-right: 4px solid var(--contrast);
  padding-left: 28px;
  padding-top: 20px;
  margin: 10px;
}
#work {
  grid-area: work;
}
#work-info {
  grid-area: work-info;
}

/* NESTED GRID - PROJECTS */
/* Grid for work examples */
#work-grid {
  display: grid;
  min-height: 500px;
  height: 90vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "work1 work1"
    "work1 work1"
    "work2 work3"
    "work4 work5";
  padding-left: 0px;
}

/* PORTFOLIO IMAGES */
/* Initialising work grid elements */
#work1 {
  grid-area: work1;
  background-image: url("../images/Horiseon.jpg");
  border: 6px solid var(--contrast);
}
#work2 {
  grid-area: work2;
  background-image: url("../images/prework_guide.jpg");
  border: 6px solid var(--contrast);
}
#work3 {
  grid-area: work3;
  background-image: url("../images/02-portfolio-3.jpg");
  border: 6px solid var(--contrast);
}
#work4 {
  grid-area: work4;
  background-image: url("../images/02-portfolio-4.jpg");
  border: 6px solid var(--contrast);
}
#work5 {
  grid-area: work5;
  background-image: url("../images/02-portfolio-1.jpg");
  border: 6px solid var(--contrast);
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
}

#contact {
  grid-area: contact;
}

/* CONTACT */

/* Add colour for links in contact section */
#contact a {
  color: var(--hoover);
}

/* Contact Info */
#contact-info {
  grid-area: contact-info;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}
