/* General */
:root {
  --main: white;
  --contrast: black;
  --hover: rgb(156, 234, 189);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.logo-title {
  margin: 0;
  font-family: "Lora", serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: lighter;
  text-decoration: none;
}

ol, ul, menu {
  list-style: none;
}

p {
  margin: 0;
}

a { 
  cursor: pointer;
  list-style: none;
}

img{
  display: block;
  width: 100%;
  max-width: 100%;
}

.container{
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section{
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--contrast);
}

.section__left{
  width: 12%;
}

.section__right{
  width: 88%;
  padding-left: 2rem;
  border-left: 2px solid var(--contrast);
}

.section__title{
  font-size: 2rem;
  text-align: right;
  padding-right: 1rem;
}

/* General End  */

/* Header Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--main);
  height: 100px;
}

.logo-title {
  font-size: 40px;
  margin: 35px;
  animation: fadeInRight 1.2s ease-in-out;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 30px;
  list-style: none;
  cursor: pointer;
}

.navbar-links li a {
  font-size: 20px;
  text-decoration: none;
  color: var(--contrast);
  border-bottom: var(--contrast) 0.125em solid;
}

.navbar-links li a:hover {
  background-color: var(--hover);
  border-bottom: var(--hover) 0.125em solid;
  color: var(--contrast);
  transition: 0.4s;
  cursor: pointer;
}

.navbar-links li:active {
    opacity: 0.3;
  }
/* Header End  */

/* Hero Start */
.hero{
  background-image: url('../images/hero_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__content{
  max-width: 640px; 
  color: var(--main);
}

.hero__content-title{
  font-size: 100px;
  font-weight: 700;
  margin-right: 350px;
  padding-bottom: 10px;
}

.hero__content-subtitle{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4em;
}
/* Hero End  */

/* About
________________________________________________________________________________________________________ */

.about__title{
  max-width: 7ch;
}

.about__copy:not(:last-child){
  padding-bottom: 1rem;
}

/* Work
________________________________________________________________________________________________________ */

.work__items{
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 240px);
  gap: 1.25rem;
}

.work__item{
  position: relative;
  display: flex;
  align-items: flex-end;
  grid-column: span 1; 
  grid-row: span 1;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.work__content{
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  max-width: 320px;
  background-color: var(--contrast);
  color: var(--main);
}

.work__item-title{
  font-size: 2rem;
  padding-bottom: .5rem;
}

.work__link{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0%);
  transition: background .5s ease;
  z-index: 2;
}

.work__link:hover{
  background: rgba(0, 0, 0, 50%);
}

.work__item:first-child{
  grid-column: span 2; 
  grid-row: span 2;
  background-image: url("../images/Horiseon.jpg");
}

.work__item.preworkstudy{
  background-image: url("../images/prework_guide.jpg");
}

.work__item.placeholder1{
  background-image: url("#");
}

.work__item.placeholder2{
  background-image: url("#");
}

.work__item.placeholder3{
  background-image: url("#");
}


/* Footer
________________________________________________________________________________________________________ */

footer{
  margin-bottom: 2rem;
}

.contact__items{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.contact__item-link{
  font-size: 1.125rem;
  line-height: 1.1em;
  color: var(--contrast);
  font-weight: 400;
  padding-bottom: .5rem;
  border-bottom: 2px solid transparent;
}

.contact__item-link:hover{
  border-bottom: 2px solid var(--contrast);
  background-color: var(--hover);
  transition: border-bottom .5s ease-in-out;
}

.contact__item-link:active {
  opacity: 0.3;
}

/* Media
________________________________________________________________________________________________________ */

@media (max-width: 960px){
  .section__left{
    width: 100%;
    padding-right: 0;
  }

  .section__right{
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
    border-left: none;
    border-top: 2px solid var(--contrast);
  }

  .section__title{
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
    text-align: left;
  }

  .contact__items{
    justify-content: center;
  }
  .contact__items{
    padding-left: 0;
  }

  .work__items{
    grid-template-rows: repeat(6, 240px);
  }

  .work__item:not(:first-child){
    grid-column: span 2; 
  }

  .work__content{
    max-width: 80%;
  }
}

@media (max-width:540px){
  .nav{
    justify-content: center;
    gap: 1rem;
  }

  .hero{
    margin-top: -13rem;
  }

  .section{
    padding-top: 3rem;
  }

  .hero__content-title{
    font-size: 3rem;
  }

  .hero__content-subtitle{
    font-size: 1.25rem;
  }

  .work__content{
    max-width: 100%;
  }

  .work__item-title{
    font-size: 1.25rem;
  }

  .contact__items{
    flex-direction: column;
  }
}

/* Animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
/* Animation End */